.register-wrapper{
    height:100vh;
    width:100%;
    over-flow:hidden;
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:center;
    color:#555;
    /* background-color:#ecf0f3 */
}

.register-section{
 
   
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 1rem;
    width:430px;
    height:700px;
    padding:60px 35px 35px 35px;
    border-radius:40px;
    background-color:#ecf0f3;
    box-shadow:13px 13px 20px #cbced1,-13px -13px 20px #fff
}

.register-wrapper form{
        display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    flex-grow: 1;
    padding-bottom: 1rem;
}
.register-section input{
    border:none;
    outline:none;
    fill: none;
    background-color: inherit !important;
    background-image: none !important;
    font-size:18px;
    color:#555!important;
    padding:20px 10px 20px 5px;
}
.instructions {
    font-size: 0.75rem;
    border-radius: 0.5rem;
    background: #000;
    color: #fff;
    padding: 0.25rem;
    position: relative;
    bottom: -10px;
}

.instructions > svg {
    margin-right: 0.25rem;
}

.offscreen {
    position: absolute;
    left: -9999px;
}

.hide {
    display: none;
}

.valid {
    color: limegreen;
    margin-left: 0.25rem;
}

.invalid {
    color: red;
    margin-left: 0.25rem;
}

.errmsg {
    background-color: lightpink;
    color: firebrick;
    font-weight: bold;
    padding: 0.5rem;
    margin-bottom: 0.5rem;
}

.line {
    display: inline-block;
}

.signup{
    outline:none;
    border:none;
    cursor:pointer;
   padding:10px;
    border-radius:30px;
    font-size:20px;
    font-weight:700;
    background:var(--bittersweet);
    margin:20px 0px;
    color:#fff;
    text-align:center;
}

.register-home{
    margin:50px;
    padding:20px 50px;
    background:var(--sandy-brown);
    border-radius:10px;
    cursor:pointer;
    color:white;
    font-weight:600;
    opacity: 1;
    transition: 0.3s;
}

.register-home:hover{
    background:var(--salmon-pink);
    color:black;
    opacity: 0.6;
}