

.product-minimal .showcase {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 15px;
    border: 1px solid var(--cultured);
    padding: 15px;
    border-radius: var(--border-radius-md);
    height:100px;
    border-radius:10px;
  }
  .product-minimal .showcase img{
    width:50px;

  }
  
  .product-minimal .showcase:not(:last-child) { margin-bottom: 15px; }
  
  .product-minimal .showcase-content { width: calc(100% - 85px); }
  
  .product-minimal .showcase-title {
    color: var(--eerie-black);
    font-size: var(--fs-7);
    font-weight: var(--weight-600);
    text-transform: capitalize;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-bottom: 2px;
  }
  
  .product-minimal .showcase-category {
    width: max-content;
    color: var(--davys-gray);
    font-size: var(--fs-8);
    text-transform: capitalize;
    margin-bottom: 3px;
  }
  
  .product-minimal .showcase-category:hover { color: var(--salmon-pink); }
  
  .product-minimal .price-box {
    display: flex;
    align-items: center;
    gap: 8px;
  }
  
  .product-minimal .price {
    font-size: var(--fs-7);
    font-weight: var(--weight-700);
    color: var(--salmon-pink);
  }
  
  .product-minimal .price-box del {
    font-size: var(--fs-9);
    color: var(--sonic-silver);
  }

  .showcase-img-box img{
    width:70px;
  }