.product-main { margin-bottom: 30px; };
.product-main .title{
    color: red;
}


.product-grid {
    display: grid;
    grid-template-columns: 1fr;
    gap: 25px;
  }

@media (min-width: 480px){
    .product-grid {
        grid-template-columns: 1fr 1fr;
        gap: 30px;
      }
    
  }

  
@media (min-width: 1024px) {

    .product-grid { grid-template-columns: repeat(3, 1fr); }

}
@media (min-width: 1200px) {

    .product-grid { grid-template-columns: repeat(4, 1fr); }

}